
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
Ecom-Frontend/node_modules/
Fullstack-Ecom-Backend/node_modules/

# Environment variables
Ecom-Frontend/.env
Ecom-Frontend/.env.local
Ecom-Frontend/.env.*.local
Fullstack-Ecom-Backend/.env
Fullstack-Ecom-Backend/.env.local
Fullstack-Ecom-Backend/.env.*.local

# Build output
Ecom-Frontend/dist/
Fullstack-Ecom-Backend/dist/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
